<header class="header">
  <div class="header__logo">
    <a routerLink="/dashboard" routerLinkActive="active">
      <img src="/assets/pages/login/logo.png" alt="Gestão Simples" width="56" height="56"/>
    </a>
  </div>

  <nav class="header__menu">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="bi bi-bar-chart"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/produtos" routerLinkActive="active">
          <i class="bi bi-box-seam"></i> Produtos
        </a>
      </li>
      <li>
        <a routerLink="/clientes" routerLinkActive="active">
          <i class="bi bi-people"></i> Clientes
        </a>
      </li>
      <li>
        <a routerLink="/vendas" routerLinkActive="active">
          <i class="bi-cart-check"></i> Vendas
        </a>
      </li>
    </ul>
  </nav>

  <div class="header__actions">
    <button class="btn btn-outline-danger" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i> Logout
    </button>
  </div>
</header>
