// Importando variáveis do Bootstrap
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


// Sobrescrevendo algumas variáveis (exemplo)
$primary: #ff5733;  // Cor principal
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Merriweather', serif;

// Importando o restante do Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
